/* Google font Merriweather */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
/* google font inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* style */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* body tag starts */
body{
    font-family: "Merriweather", serif;
}
/* body tag ends */
/* common styles starts*/
.white{
    color: white;
}
.tomato{
    color: #FF0000;
}
.blend{
    background-color: rgba(0,0,0,0.5);
    background-blend-mode: overlay;
    background-size: cover; 
}
.inter{
    font-family: "Inter", sans-serif;
}
/* common styles ends */
/* header styles starts*/
.banner-container{
    max-width: 1320px;
    height: 600px;
    margin: 50px 140px 0;
    background-image: url('../img/images/BannerImage.png');
    /* background-repeat: no-repeat; */
}
.banner-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 246px;
    padding-top: 177px;
}
/* .banner-content .banner-content-title, .banner-content-sub-title{
    color: white;
} */
.banner-content .banner-content-title{
    font-size: 32px;
    font-weight: 700;
}
.banner-content .banner-content-sub-title{
    font-size: 45px;
    font-weight: 900;
}
.center{
    text-align: center;
}
/* header ends */
/* main styles start */
.first-section{
    max-width: 800px;
    min-height: 800px;
    margin: 120px auto 0;
}
.first-section-title{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.first-section-title h1{
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 48px;
}
.first-section-title p{
    font-size: 24px;
    font-weight: medium;
    margin-bottom: 16px;
}
.first-section-title h4{
    font-size: 48px;
    font-weight: 700;
}
.first-section-container{
    margin-top: 48px;
    width: 800px;
    height: 500px;
}
.first-section-img{
    width: 100%;
    height: 100%;
}
.second-section{
    width: 1320px;
    height: 600px;
    margin: 120px auto 0;
    background-image: url('../img/images/Vectorrr.png');
    display: flex;
}
.leftside-second-section{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 126px;
}
.leftside-second-section .leftside-second-section-h1{
    padding: 58px 55px 24px 0;
    font-size: 64px;
    font-weight: 900;
}
.leftside-second-section .leftside-second-section-p{
    padding-bottom: 32px;
    font-size: 18px;
}
.join{
    font-size: 20px;
}
.rightside-second-section{
    width: 40%;
    height: 100%;
}
.rightside-second-section-img{
    padding: 68px 138px 67px 0;
}
/* main styles end */